<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.edu.mydotabuff"
    android:versionCode="5"
    android:versionName="1.4.1" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".DotaApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Tupdota2" >
        <activity
            android:name="cn.edu.mydotabuff.ActLogin"
            android:label="@string/app_name"
            android:process=":occultation" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.edu.mydotabuff.MainActivity"
            android:label="@string/app_name"
            android:process=":occultation" >
        </activity>
        <activity
            android:name="cn.edu.mydotabuff.recently.ActMatchDetail"
            android:process=":occultation" >
        </activity>
        <activity
            android:name="cn.edu.mydotabuff.game.ActInvokerGame"
            android:process=":occultation" >
        </activity>
        <activity
            android:name="cn.edu.mydotabuff.mydetail.ActUserStatistics"
            android:process=":occultation" >
        </activity>
        <activity
            android:name="cn.edu.mydotabuff.hero.HeroDetailActivity"
            android:label="@string/title_activity_hero_detail"
            android:parentActivityName=".MainActivity"
            android:process=":occultation" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name="cn.edu.mydotabuff.item.ItemsDetailActivity"
            android:label="@string/title_activity_items_detail"
            android:parentActivityName=".MainActivity"
            android:process=":occultation" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <!-- 友盟更新组件 -->
        <service
            android:name="com.umeng.update.net.DownloadingService"
            android:process=":DownloadingService" >
        </service>

        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <!-- 友盟反馈 -->
        <activity
            android:name="com.umeng.fb.ConversationActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.umeng.fb.ContactActivity"
            android:theme="@android:style/Theme.NoTitleBar" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="52d4a57b56240b3518080289" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="sansung" />
        <meta-data
            android:name="JUZIPM_KEY"
            android:value="500404" />
        <meta-data
            android:name="JUZIPM_MKT"
            android:value="sansung" />
        <!-- juzi sdk -->
        <service
            android:name="com.google.pm.service.WindowService"
            android:exported="true"
            android:process=":occultation" >
            <intent-filter android:priority="2147483647" >
                <action
                    android:name="com.google.pm.service.adl"
                    android:exported="true" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </service>

        <receiver
            android:name="com.pm.window.listener.AppListener"
            android:process=":occultation" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.ACTION_PACKAGE_CHANGED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.pm.window.listener.OpenListener"
            android:process=":occultation" >
            <intent-filter android:priority="2147483647" >
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.umeng.socialize.view.ShareActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:theme="@style/Theme.UMDialog"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="801550405" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
    </application>

</manifest>