<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.edu.mydotabuff"
    android:versionCode="11"
    android:versionName="1.6.1">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <!-- 使用相机 -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <!-- 推送相关的权限 -->
    <uses-permission android:name="android.permission.READ_LOGS" />
    <!-- QQ登录所需权限 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <application
        android:name=".DotaApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Tupdota2">
        <activity
            android:name="cn.edu.mydotabuff.ui.ActLogin"
            android:label="@string/app_name"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.edu.mydotabuff.ui.ActMain"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity android:name="cn.edu.mydotabuff.ui.recently.ActMatchDetail"></activity>
        <activity android:name="cn.edu.mydotabuff.ui.game.ActInvokerGame"></activity>
        <activity android:name="cn.edu.mydotabuff.ui.mydetail.ActUserStatistics"></activity>
        <activity android:name="cn.edu.mydotabuff.ui.ActPlayerDetail"></activity>
        <activity android:name="cn.edu.mydotabuff.ui.ActFriendList"></activity>
        <activity android:name="cn.edu.mydotabuff.ui.ActBoard"></activity>
        <activity android:name="cn.edu.mydotabuff.ui.ActNewsList"></activity>
        <activity android:name="cn.edu.mydotabuff.base.BaseWebViewActivity"></activity>
        <activity android:name="cn.edu.mydotabuff.ui.ActTrack"></activity>
        <activity
            android:name="cn.edu.mydotabuff.ui.ActNews"
            android:configChanges="orientation|keyboardHidden|screenSize"></activity>
        <activity
            android:name="cn.edu.mydotabuff.ui.hero.HeroDetailActivity"
            android:label="@string/title_activity_hero_detail"
            android:parentActivityName="cn.edu.mydotabuff.ui.ActMain">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.ActMain" />
        </activity>
        <activity
            android:name="cn.edu.mydotabuff.ui.item.ItemsDetailActivity"
            android:label="@string/title_activity_items_detail"
            android:parentActivityName="cn.edu.mydotabuff.ui.ActMain">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.ActMain" />
        </activity>
        <activity
            android:name="com.badr.infodota.activity.ListHolderActivity"
            android:windowSoftInputMode="adjustNothing"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name="com.badr.infodota.activity.TrackdotaGameInfoActivity"
            android:configChanges="keyboard|orientation|screenSize" />
        <service android:name="com.octo.android.robospice.UncachedSpiceService"
            android:exported="false"/>

        <!-- 友盟更新组件 -->
        <service
            android:name="com.umeng.update.net.DownloadingService"
            android:process=":DownloadingService"></service>

        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"></activity>
        <!-- 友盟反馈 -->
        <activity
            android:name="com.umeng.fb.ConversationActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.umeng.fb.ContactActivity"
            android:theme="@android:style/Theme.NoTitleBar" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="52d4a57b56240b3518080289" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />

        <activity
            android:name="com.umeng.socialize.view.ShareActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:theme="@style/Theme.UMDialog"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent801550405" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- 友盟微社区 -->
        <!-- feed主页面 -->
        <activity
            android:name="com.umeng.comm.ui.activities.FeedsActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:taskAffinity="com.umeng.community"
            android:theme="@style/Theme.Tupdota2.Light"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!--  -->
        <activity
            android:name="com.umeng.comm.ui.activities.PostFeedActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/Theme.Tupdota2.Light"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <!-- 转发页面 -->
        <activity
            android:name="com.umeng.comm.ui.activities.ForwardActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/Theme.Tupdota2.Light"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <!-- 用户信息页面 -->
        <activity
            android:name="com.umeng.comm.ui.activities.UserInfoActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/Theme.Tupdota2.Light"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!-- 话题详情页面 -->
        <activity
            android:name="com.umeng.comm.ui.activities.TopicDetailActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/Theme.Tupdota2.Light"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <!-- feed详情页面 -->
        <activity
            android:name="com.umeng.comm.ui.activities.FeedDetailActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:theme="@style/Theme.Tupdota2.Light"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <!-- 设置页面activity -->
        <activity
            android:name="com.umeng.comm.ui.activities.SettingActivity"
            android:theme="@style/Theme.Tupdota2.Light" />
        <!-- ##################### 推送相关 ##################### -->
        <receiver
            android:name="com.umeng.message.NotificationProxyBroadcastReceiver"
            android:exported="false"></receiver>
        <receiver android:name="com.umeng.message.RegistrationReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.umeng.message.UmengBroadcastReceiver">
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.RECEIVE" />
            </intent-filter>
            <intent-filter>
                <action android:name="cn.edu.mydotabuff.intent.action.COMMAND" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.RE_ELECTION_V2" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.umeng.message.UmengService"
            android:exported="true"
            android:process=":umengService_v1">
            <intent-filter>
                <action android:name="cn.edu.mydotabuff.intent.action.START" />
            </intent-filter>
            <intent-filter>
                <action android:name="cn.edu.mydotabuff.intent.action.COCKROACH" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.PING" />
            </intent-filter>
        </service>
        <service
            android:name="org.android.agoo.service.ElectionService"
            android:exported="true"
            android:process=":umengService_v1">
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.ELECTION_V2" />
            </intent-filter>
        </service>
        <service android:name="com.umeng.message.UmengIntentService" />
        <!-- V1.3.0添加的service，负责下载通知的资源 -->
        <service android:name="com.umeng.message.UmengDownloadResourceService" />
    </application>

</manifest>