<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.edu.mydotabuff"
    android:versionCode="15"
    android:versionName="1.7.2">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <!-- 使用相机 --><uses-feature
    android:name="android.hardware.camera"
    android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <!-- 推送相关的权限 -->
    <uses-permission android:name="android.permission.READ_LOGS" />
    <!-- QQ登录所需权限 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".DotaApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/DotaTheme.Transparent">
        <activity
            android:name=".ui.view.activity.impl.LoginActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/DotaTheme"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/DotaTheme"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity android:name=".ui.view.activity.impl.MatchDetailActivity" />
        <activity android:name=".ui.PlayerDetailActivity"></activity>
        <activity android:name=".ui.recently.ActMatchDetail" />
        <activity android:name=".ui.ActPlayerDetail" />
        <activity android:name=".ui.ActFriendList" />
        <activity android:name=".ui.ActBoard" />
        <activity android:name=".ui.ActNewsList" />
        <activity android:name=".base.BaseWebViewActivity" />
        <activity android:name=".ui.ActTrack" />
        <activity
            android:name=".ui.ActNews"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".ui.hero.HeroDetailActivityAppCompat"
            android:label="@string/title_activity_hero_detail"
            android:theme="@style/DotaTheme"></activity>
        <activity
            android:name=".ui.item.ItemsDetailActivityAppCompat"
            android:label="@string/title_activity_items_detail"
            android:theme="@style/DotaTheme"></activity>
        <activity
            android:name="com.badr.infodota.activity.ListHolderActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name="com.badr.infodota.activity.TrackdotaGameInfoActivity"
            android:configChanges="keyboard|orientation|screenSize" />

        <service
            android:name="com.octo.android.robospice.UncachedSpiceService"
            android:exported="false" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="52d4a57b56240b3518080289" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="2e137cae707b5e9b90c5d4c76356236e" />

        <activity
            android:name="com.umeng.socialize.view.ShareActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:theme="@style/Theme.UMDialog"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent801550405" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
    </application>

</manifest>